# IDE / VS Code
.vscode/
.idea/

# Modèles d'IA / Gros fichiers & Python / Moteur IA (ai_engine)
*.bin
*.onnx
*.gguf
*.safetensors
models/
*.deb
GreenAI/
venv/
.venv/
ai_engine/GreenAI/
ai_engine/llama.cpp/
ai_engine/offload_temp/
ai_engine/chroma_db/
chroma_db/
**/__pycache__/
*.pyc

# Node.js (api_server)
node_modules/
api_server/node_modules/
api_server/dist/
*.log

# Android / Mobile (DrGrn)
.gradle/
.kotlin/
build/
app/build/
*.iml
local.properties
.DS_Store
DrGrn/.gradle/
DrGrn/.idea/
DrGrn/.kotlin/
DrGrn/build/
DrGrn/app/build/
DrGrn/local.properties

# Clés d'API et secrets
API_KEY.txt